/* Shake animation */
@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
}

.formulario_contacto{
    margin: 2rem auto 4rem;
}
.input_contacto{
    margin-bottom: 2rem ;
}
.redes_container{
    margin: 3rem auto;
    padding: 15px;
    border: 2px solid #7d7b7b;
    border-radius: 15px;
    width: 80%;
}
.redes_container > img {
    width:64px
}
/* Aplica una animacion */
.logo_redes_imagenes:hover {
    animation: shake 0.25s;
}
/*  Media Query */
@media (max-width:500px) {
    .redes_container{
        width: 95%;
    }
}
@media (max-width:400px) {
    .logo_redes_imagenes {
        max-width: 48px;
    }
}