.libro_contenedor{
    width: 80%;
    margin: 2rem auto 0;
    border: 2px solid rgb(143, 141, 141);
    padding: 2rem 0;
    border-radius: 5px;
}
.portada_libro{
    width: 30%;
    height: 30%;
    margin-right: 2rem;
}

span{
    font-size: 22px;
    text-decoration: underline;
}
h3, h2{
    margin-bottom: 1.5rem;
    font-family: 'Alkatra', cursive;
}
button {
    color: #fff;
    background: #C8CEEA;
    border-radius: 11%;
    box-shadow: inset 23.72px 23.72px 40px #A4A9C0, inset -23.72px -23.72px 40px #ECF3FF;
    border: none;
    padding: 8px 25px;
}
.dark {
    color: #fff;
}

.info_container > p {
    margin-top: 20px;
    height: 200px;
    overflow-y: scroll;
}


@media (max-width: 768px) {
    .portada_libro{
        width: 90%;
        margin: 0;
    }
    .info_container{
        width: 90%;
    }
}